# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
*terraform.*

# Local Terraform CLI configuration files
.terraformrc
terraform.rc

# Crash log files
crash.log

# IDE or editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*~ 
*.bak
*.swp
